.icon {
  width: 32px;
  height: 32px;
  display: block;
  background-size: cover;
}

.icon-whatsapp {
  background-image: url('../images/icons/whatsapp.png');
}

.icon-twitter {
  background-image: url('../images/icons/twitter.png');
}

.icon-instagram {
  background-image: url('../images/icons/instagram.png');
}